[Unit]
Description=Dockmon
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=/usr/bin/docker build /opt/docker/dockmon/ -t dockmon
ExecStart=/usr/bin/docker run -d -rm --name dockmon dockmon

ExecStop=/usr/bin/docker stop dockmon

[Install]
WantedBy=multi-user.target