[Unit]
Description=Dockmon
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=/usr/bin/docker-compose -f /opt/docker/dockmon/docker-compose stop
ExecStart=/usr/bin/docker-compose -f /opt/docker/dockmon/docker-compose up -d

ExecStop=/usr/bin/docker-compose -f /opt/docker/dockmon/docker-compose stop

[Install]
WantedBy=multi-user.target