[Unit]
Description=Dockmon
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=/usr/bin/docker-compose -f /opt/docker/dockmon/docker-compose.yml stop
ExecStart=/usr/bin/docker-compose -f /opt/docker/dockmon/docker-compose.yml up 

ExecStop=/usr/bin/docker-compose -f /opt/docker/dockmon/docker-compose.yml stop

[Install]
WantedBy=multi-user.target