[Unit]
Description=NodeExporter

[Service]
TimeoutStartSec=0
ExecStart=/opt/monitoring/node_exporter/node_exporter

[Install]
WantedBy=multi-user.target